.list {
  margin-top: 4rem;
  display: grid;
}

.list > header {
  height: 1.188rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.list > header span {
  font-weight: 700;
  background: var(--gray-400);
  color: var(--gray-200);
  border-radius: 62.438rem;
  padding: 0 0.5rem;
  align-items: center;
  border: 0;
  font-size: 0.75rem;
}

.createdTaskInfo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: var(--blue-200);
}

.completeTaskInfo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: var(--purple-300);
}